<template>
    <Transition name="fade">
        <div class="rounded-md flex items-center alert-wrap p-4 absolute right-0 mr-6 mb-6 bottom-0" :class="extra" v-if="visible">
            <div class="flex items-center">
                <div class="ml-3 flex items-center">
                    <p class="text-sm mr-5" :class="textClass">
                        {{ message }}
                    </p>

                    <p class="text-sm" @click="visible = false">
                        <x-icon icon="close-outline" class="fill-current h-4 w-4" :class="extraClass"></x-icon>
                    </p>
                </div>
            </div>
        </div>
    </Transition>
</template>

<script>
    export default {
        name: 'x-alert',
        props: {
            //
        },
        data() {
            return {
                visible: false,
                message: '',
                extraClass: '',
                textClass: 'text-green-400',
            };
        },
        methods: {
            close() {
                this.visible = false;
                this.$emit('close');
            },
            open(params) {
                this.visible = true;

                if (typeof params === 'object') {
                    //
                } else {
                    this.message = message;
                    this.extraClass = 'bg-green-100';
                }
            },
        },
        mounted() {
            window.EventBus.$on('open', this.open);

            setTimeout(() => {
                this.visible = false;
            }, 5000);
        }
    };
</script>

<style scoped>
    .alert-wrap {
        right: 20px;
    }
</style>
