<template>
    <Transition name="fade">
        <div v-if="visible" class="fixed inset-0 w-full h-screen flex items-center justify-center bg-modal-700">
            <div class="max-h-screen w-full max-w-sm bg-white shadow-lg rounded-lg">
                <div class="overflow-auto p-5 block max-h-screen w-full">
                    {{ message }}
                </div>
                <div class="flex items-center justify-end border-t p-3">
                    <div class="text-red-500 font-semibold">
                        {{ title }}
                    </div>

                    <button @click="onConfirm" type="button" class="px-4 py-2 text-white hover:text-white bg-red-600 rounded hover:bg-red-700">
                        {{ confirmText }}
                    </button>

                    <button v-if="dismiss" @click="close" type="button" class="ml-3 px-4 py-2 bg-gray-300 rounded hover:bg-gray-400">
                        {{ cancelText }}
                    </button>
                </div>
            </div>
        </div>
    </Transition>
</template>

<script>
    export default {
        name: 'x-confirm',
        props: {
            title: {
                type: String,
                default: ''
            },
            dismiss: {
                type: Boolean,
                default: true
            },
        },
        data() {
            return {
                visible: false,
                message: '',
                confirmText: 'Yes',
                cancelText: 'No',
                callback: null,
            };
        },
        methods: {
            close() {
                this.visible = false;
                this.$emit('close');
            },
            open(params) {
                this.visible = true;

                if (typeof params === 'object') {
                    this.message = params.message;
                    this.callback = params.callback;
                } else {
                    this.message = params;
                }
            },
            onConfirm() {
                this.visible = false;

                if (typeof this.callback == 'function') {
                    this.callback(this);
                }
            },
        },
        mounted() {
            window.EventBus.$on('confirmOpen', this.open);
        }
    };
</script>
