<template>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" :class="$attrs.class">
        <component :is="icon" />
    </svg>
</template>

<script>
    export default {
        name: 'x-icon',
        props: {
            name: {
                type: String,
                required: true
            }
        },
        data() {
            return {
                icons: this.$attrs.icon,
            };
        },
    };
</script>
