<template>
    <div class="w-full">
        <label :for="id" v-if="label">
            {{ label }}
        </label>

        <div class="mt-1">
            <div class="relative flex items-center">
                <div class="absolute inset-y-0 left-0 pl-3 pointer-events-none">
                    <slot name="addOnBefore" />
                </div>

                <input
                    class="px-3 flex-1 w-full py-2 outline-none shadow-sm focus:shadow focus:border rounded border block border-gray-400"
                    :id="id"
                    :type="type"
                    :name="name"
                    :disabled="disabled"
                    :class="extra"
                    :placeholder="placeholder"
                    :value="value"
                    :max="max"
                    :maxlength="maxlength"
                    :min="min"
                    :minlength="minlength"
                    :readonly="readonly"
                    v-model="change"
                />

                <slot name="addOnAfter" />
            </div>

            <p class="text-sm italic text-red-500" v-if="error">{{ error }}</p>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'x-input',
        props: {
            label: {
                type: String,
                default: ''
            },
            type: {
                type: String,
                default: 'text'
            },
            init: {
                type: String,
                default: ''
            },
            error: {
                type: String,
                default: ''
            },
            id: {
                type: String,
                default: ''
            },
            disabled: {
                type: Boolean,
                default: false
            },
            maxlength: {
                type: Number,
                default: null
            },
            min: {
                type: Number,
                default: null
            },
            minlength: {
                type: Number,
                default: null
            },
            name: {
                type: String,
                default: null
            },
            placeholder: {
                type: String,
                default: null
            },
            readonly: {
                type: Boolean,
                default: null
            },
            value: {
                type: [String, Number],
                default: null
            }
        },
        data() {
            return {
                change: this.init,
                extra: ''
            };
        },
        watch: {
            change(newValue) {
                this.$emit('input', newValue);
            }
        },
        mounted() {
            if (this.error) {
                this.extra += ' border-red-500';
            }
        }
    };
</script>
