<template>
    <section v-show="isActive" :aria-hidden="! isActive" :id="id" role="tabpanel">
        <slot />
    </section>
</template>

<script>
    export default {
        props: {
            id: {
                type: String
            },
            name: {
                type: String
            },
        },
        data: () => ({
            isActive: false,
            visible: false
        }),
        computed: {
            //
        },
    };
</script>
