<template>
    <div class="relative w-full mb-6">
        <label :for="name" v-if="label" class="text-sm pb-2 w-full text-gray-600" :class="labelClass">
            {{ label }}
        </label>

        <div @click="toggleChange" class="w-full flex items-center mt-2">
            <span
                role="checkbox"
                tabindex="0"
                aria-checked="false"
                class="relative inline-block flex-shrink-0 h-4 w-4 w-12 rounded-full border-2 cursor-pointer transition-colors ease-in-out duration-200 outline-none"
                :class="bgClass"
            >
                <span class="translate-x-0 inline-block -mt-1 h-6 w-6 rounded-full bg-white shadow transform transition ease-in-out duration-200" :class="transitionClass"></span>
            </span>
        </div>

        <input type="hidden" :name="name" v-model="changeValue" />

        <div v-if="error" class="text-sm ml-1 text-red-500 absolute">
            {{ error }}
        </div>
    </div>
</template>

<script>
    export default {
        name: 'x-toggle',
        props: {
            label: {
                type: String,
                default: ''
            },
            labelClass: {
                type: String,
                default: ''
            },
            inputClass: {
                type: String,
                default: ''
            },
            init: {
                type: String,
                default: ''
            },
            error: {
                type: String,
                default: ''
            },
            name: {
                type: String,
                default: ''
            },
            toggleOn: {
                type: [String, Number],
                default: 1
            },
            toggleOff: {
                type: [String, Number],
                default: 0
            }
        },
        data() {
            return {
                changeValue: this.init,
                toggle: false,
                transitionClass: 'translate-x-0',
                bgClass: 'bg-gray-200'
            };
        },
        methods: {
            toggleChange() {
                if (this.toggle) {
                    this.toggle = false;
                    this.changeValue = this.toggleOff;
                    this.bgClass = 'bg-gray-200';
                    this.transitionClass = 'translate-x-0';
                } else if (!this.toggle) {
                    this.toggle = true;
                    this.changeValue = this.toggleOn;
                    this.bgClass = 'bg-red-600';
                    this.transitionClass = 'translate-x-6';
                }
            }
        },
        watch: {
            changeValue(newValue) {
                this.$emit('input', newValue);
            }
        },
        mounted() {
            if (this.error) {
                this.inputClass += ' border-red-500';
            }

            if (this.toggleOn == this.init) {
                this.toggle = true;
                this.changeValue = this.toggleOn;
                this.bgClass = 'bg-red-600';
                this.transitionClass = 'translate-x-6';
            }
        }
    };
</script>
